body,html {
    padding : 0;
    margin : 0;
    border: transparent;
    overflow: hidden;
    width : 100%;
    font-family: sans-serif;
}

nav{
    height:5vh;
    position:relative;
    top: 5vh;
    left: 3vh;
    padding:0;
    margin:0;
    overflow: visible;
}

h1 {
    margin:1.3vh;
    padding:0;
    font-family:serif;
    font-size: 3vh;
    text-shadow: 0 0 0.2vh #474747;
    text-align: center;
    display: block;
}
.container_light{
    background-color : #f2f2f2;
    color: #222423;
}

.container_dark{
    background-color : #141414;
    color: #fff;

}

.profileHeader{
    height: 35vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#profileImg {
    margin: 0;
    order:20;
}

#profileImg img{
    border-radius:50%;
    width:12vh;
}

.profileHeader main{
    margin:0;
    padding:0;
    order: 30;
}


.profileHeader main p{
    margin:0.5vh;
    padding:0;
    font-family:sans-serif;
    font-size: 2vh;
    font-style : normal;
    font-weight:1000;
    text-align: center;
    display: block;
}

.profileHeader footer{
    order: 40;
    margin : 2vh 0 2.5vh 0 ;
}

.text_icon address{
    padding:0;
    font-family:sans-serif;
    font-size: 1.8vh;
    font-style : normal;
    color: #9f9f9f;
    text-align: center;
}

.container_settings_light{
    border-radius: 5vh 5vh 0 0 ;
    box-shadow: 0 0 3vh #dedede;
    background-color: #fff;
}

.container_settings_dark{
    border-radius: 5vh 5vh 0 0 ;
    box-shadow: 0 0 3vh #353535;
    background-color: #111111;
    border: transparent;
}
.settings{
    border: transparent;
    font-size:2.5vh;
    height: 60vh;
    weight:100%;
    margin: 0;
    padding : 0;
    position:relative;
}

.settings h2 {
    margin: 0;
    padding: 5vh 0 0 3vh;
    font-size: 2.8vh;
    font-weight: 1000;
}

.text_icon{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;

}

.switch{
    width:100vw;
    margin: 0 0 0 3vh;
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: baseline;
    position:absolute;
    top: 11vh;   
}

.switch span{
    padding: 0 0 0 2vh;

}

.switch .switcher{
    position:absolute;
    right:15vw;
    bottom: -1vh;
}

.notifications{
    margin: 0 0 0 3vh;
    width:100vw;
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: baseline;
    position:absolute;
    top: 19vh;  
}

.notifications span{
    padding: 0 0 0 2vh;
}

.caret{
    position:absolute;
    right:15vw;
    bottom: -1.5vh;
}

.notifications .caret{
    color:#d8d8d8;
    font-weight:bold;
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-end;
    align-items:center;
    bottom: 0vh;

}



.privacy{
    width:100vw;
    margin: 0 0 0 3vh;
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: baseline;
    position:absolute;
    top: 25vh;  
}

.privacy span{
    padding: 0 0 0 2vh;
}

.security{
    width:100vw;
    margin: 0 0 0 3vh;
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: baseline;
    position:absolute;
    top: 31vh;  
}

.security span{
    padding: 0 0 0 2vh;
}

.account{
    width:100vw;
    margin: 0 0 0 3vh;
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: baseline;
    position:absolute;
    top: 40vh;  
}

.account span{
    padding: 0 0 0 2vh;
}

.help{
    width:100vw;
    margin: 0 0 0 3vh;
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: center;
    position:absolute;
    top: 46vh;  
}

.help span{
    padding: 0 0 0 2vh;
}

.about{
    width:100vw;
    margin: 0 0 0 3vh;
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: center;
    position:absolute;
    top: 52vh;  
}

.about span{
    padding: 0 0 0 2vh;
}

