.CircleIcon_Container{
    margin:0;
    padding:0;
    border: 0 transparent;
    height:4vh;
    width:4vh;
    border-radius:50%;
    position:relative;
    background:#3cca9e;
    overflow:hidden;
}
.CircleIcon_Icon{
    position:absolute;
    top:-0.5vh;
    left:-0.5vh;
    z-index:10;
}
.CircleIcon_Background{
    height:3vh;
    width:3vh;
    border-radius:50%;
    background:#fff;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position:absolute;
    top:0.5vh;
    left:0.5vh;
    z-index:0;
}

