.CircleIconBell{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:4vh;
    width:4vh;
    border-radius:50%;
    background-color:#f93980;

}


